<form>
<div *ngIf="model" class="form-group">
    <div class="form-group">
        <label>First Name: </label>
        <input [(ngModel)]="model.FName" placeholder="Enter Task Name" class="form-control"   />

    </div>

    <div class="form-group">
        <label>Middle Name: </label>
        <input [(ngModel)]="model.MName" placeholder="Enter Task Name" class="form-control"   />

    </div>

    <div class="form-group">
        <label>Last Name: </label>
        <input [(ngModel)]="model.LName" placeholder="Enter Task Name" class="form-control"   />

    </div>

<div class="form-group">
        <label>Age: </label>
        <input [(ngModel)]="model.Age" placeholder="Enter Task Name" class="form-control"   />

    </div>


<div class="form-group">
        <label>Date of Birth: </label>
        <input [(ngModel)]="model.DateOfBirth" placeholder="Enter Task Name" class="form-control"   />

    </div>


    <div class="form-group">
        <label>Designation: </label>
        <select [(ngModel)]="model.Designation" class="form-control">
            
            <option value="1">Architect</option>
            <option value="2">Manager</option>
            <option value="3">Business Analyst</option>
            <option value="4">Scrum Master</option>
        </select>
    </div>
    
        <div class="form-group">
        <label>Education: </label>
        <select [(ngModel)]="model.Education" class="form-control">
            
            <option value="1">BA</option>
            <option value="2">BSC</option>
            <option value="3">B. Tech</option>
            <option value="4">M. Tech</option>
        </select>
    </div>

<button (click)="save()">Save</button> 
<button (click)="saveAndRedirect('ExistingTimesheetEntiries')">Save and Navigate to List</button>

</div>
</form>